<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AgriTech</title>
    <link rel="stylesheet" href="../static/main.css" />
</head>

<body>
    <header>
        <h1>Welcome to AgriTech</h1>
        <a href="index.html" class="logout-button">Logout</a>
        <a href="feed-back.html" class="feedback-button">Feedback</a>
    </header>
    <nav>
        <ul>
            <li><a href="./Crop-Recommendation-main/templates/index.html">Farmer Connection</a></li>
            <li><a href="./Crop-Yield-Prediction-main/crop_yield_app/templates/index.html">Yield Prediction</a></li>
            <li><a href="disease.html">Disease Prediction</a></li>
            <li><a href="organic.html">Organic Farming</a></li>
            <li><a href="farmer.html">Farmer Connection</a></li>
            <li><a href="shopkeeper.html">Shopkeeper Listings</a></li>
            <li><a href="chat.html">ChatBot</a></li>
            <li><a href="plantation.html">Plantation</a></li>
            <li><a href="./Crop_Planning/templates/cropplan.html">Crop Planning</a></li>
            <li><a href="./Labour_Alerts/templates/labour.html">Plantation</a></li>
        </ul>
    </nav>

    <main>
        <section class="grid-container">
            <div class="grid-container">
                <a href="http://127.0.0.1:5501" class="grid-item">
                    <img src="images/crop.avif" alt="Crop Recommendation">
                    <h3>Crop Recommendation</h3>
                    <p>Find the best crop to cultivate based on your soil and weather conditions.</p>
                </a>

                <a href="http://127.0.0.1:5502" class="grid-item">
                    <img src="images/yield.avif" alt="Yield Prediction">
                    <h3>Yield Prediction</h3>
                    <p>Predict the expected yield for different crops using advanced AI models.</p>
                </a>

                <a href="disease.html" class="grid-item">
                    <img src="images/disease.avif" alt="Disease Prediction">
                    <h3>Disease Prediction</h3>
                    <p>Detect plant diseases early and get preventive measures and treatment advice.</p>
                </a>

                <a href="organic.html" class="grid-item">
                    <img src="images/organic.jpg" alt="Organic Farming Guide">
                    <h3>Organic Farming Guide</h3>
                    <p>Learn organic practices—from soil prep to eco-friendly pest control and certification.</p>
                </a>

                <a href="farmer.html" class="grid-item">
                    <img src="images/farmer.avif" alt="Farmer Connection">
                    <h3>Farmer Connection</h3>
                    <p>Connect with fellow farmers, share experiences, and access resources to improve your farming
                        practices.</p>
                </a>
                <a href="shopkeeper.html" class="grid-item">
                    <img src="images/shopkeeper.avif" alt="Shopkeeper Listings">
                    <h3>Shopkeeper Listings</h3>
                    <p>Discover local shopkeepers offering quality agricultural products and services tailored to your
                        needs.</p>
                </a>
                <a href="chat.html" class="grid-item">
                    <img src="images/Community.jpg" alt="Community Chat">
                    <h3>ChatBot</h3>
                    <p>Cultivating Knowledge, Harvesting Growth.</p>
                </a>
                <a href="plantation.html" class="grid-item">
                    <img src="images/Plantation.avif" alt="Plantation Guidance">
                    <h3>Plantation Guidance</h3>
                    <p>Receive expert advice on plantation techniques, crop selection, and sustainable farming methods.
                    </p>
                </a>

                <a href="http://127.0.0.1:5003" class="grid-item">
                    <img src="images/Cropplan.jpg" alt="Crop_Planning">
                    <h3>Crop Planning</h3>
                    <p> Plan your season with confidence and unlock your farm's true potential for a more profitable and
                        sustainable future.</p>
                </a>

                <a href="./Labour_Alerts/templates/labour.html" class="grid-item">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStjJBgIGmDDh6NzJSUF8AmM_TuDO_MEPiOIA&s"
                        alt="Schedule Labour & Alerts">
                    <h3>Labour Scheduling & Alerts</h3>
                    <p>Receive real-world updates related to weather, jobs, government subsidy and more.</p>
                </a>

                <a href="http://127.0.0.1:5001/crop_price_tracker" class="grid-item">
                    <img src="https://d3nn873nee648n.cloudfront.net/900x600/10734/14-SP305920.jpg"
                        alt="Crop Price Tracker">
                    <h3>Crop Price Tracker</h3>
                    <p>Track real-time mandi prices for crops across states and markets.</p>
                </a>

        </section>

    </main>

    <footer>
        <p>&copy; 2025 AgriTech. All rights reserved.</p>
    </footer>
</body>

</html>